@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #55439e, #952FFF);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#F00, #F0F);
    clip-path: circle(20% at right 70%);
}

.navbar-custom {
    background-color: transparent;
}

.navbar #logo {
    max-width: 100px;
    max-height: 150px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
    left: 20px;
}

.nav-item li {
    list-style: none;
    padding: 1rem;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    text-decoration: none;
}

.nav-item a {
    position: relative;
    right: 70px;
    margin-left: 30px;
    font-size: 1.3rem;
    padding: 0.3rem;
    color: #f0f0e6;
}

.nav-item a:hover {
    color: #f0f0e6;
    border-bottom: 2px solid #f0f0e6;
}


/*card*/

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.sidecard {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    color: white;
}

.sidecard h1 {
    position: absolute;
    font-size: 35px;
    top: 80px;
    left: 6em;
}

.sidecard h2 {
    width: 23em;
    position: absolute;
    font-size: 15px;
    top: 220px;
    left: 210px;
}

.container .card {
    position: absolute;
    width: 25rem;
    height: 16rem;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    left: 40em;
    top: 30px;
}

.container .card .card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.credit {
    position: absolute;
    left: 40px;
    top: 30px;
    color: #fff;
    font-weight: 500;
}

.bank {
    position: absolute;
    right: 40px;
    top: 30px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
}

.chip {
    position: absolute;
    top: 80px;
    left: 40px;
    max-width: 45px;
}

.number {
    position: absolute;
    bottom: 130px;
    left: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 18px;
    text-shadow: 0 2px 1px #0005;
    font-family: 'Orbitron';
}

.card-holder {
    position: absolute;
    bottom: 40px;
    left: 140px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
}

.valid {
    position: absolute;
    bottom: 90px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
}

.aprox {
    filter: invert(48%) sepia(13%) saturate(3307%) hue-rotate(130deg) brightness(200%) contrast(80%);
    top: 87px;
    left: 88px;
    max-width: 30px;
    position: absolute;
}

.mastercard {
    top: 20px;
    left: 330px;
    max-width: 55px;
    position: absolute;
}

.logo {
    filter: invert(30%) sepia(40%) saturate(200%) hue-rotate(120deg) brightness(900%) contrast(120%);
    top: 180px;
    left: 40px;
    max-width: 55px;
    position: absolute;
}

.app {
    background-color: white;
}